WindowsFormsApplication1/WindowsFormsApplication1/Service References/ServiceReference1/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:4115/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ServiceLayer" />
  <xs:element name="GetUtenteBySNS">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sns" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUtenteBySNSResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ServiceLayer" minOccurs="0" name="GetUtenteBySNSResult" nillable="true" type="q1:UtenteWeb" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUtente">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ServiceLayer" minOccurs="0" name="utente" nillable="true" type="q2:UtenteWeb" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUtenteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EditUtente">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ServiceLayer" minOccurs="0" name="utente" nillable="true" type="q3:UtenteWeb" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditUtenteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditUtenteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListaUtentes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListaUtentesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ServiceLayer" minOccurs="0" name="GetListaUtentesResult" nillable="true" type="q4:ArrayOfUtenteWeb" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>