WindowsFormsApplication1/WindowsFormsApplication2/Service References/ServiceReference1/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:4115/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ServiceLayer" />
  <xs:element name="GetUtenteBySNS">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sns" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUtenteBySNSResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ServiceLayer" minOccurs="0" name="GetUtenteBySNSResult" nillable="true" type="q1:UtenteWeb" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUtente">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ServiceLayer" minOccurs="0" name="utente" nillable="true" type="q2:UtenteWeb" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUtenteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EditUtente">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ServiceLayer" minOccurs="0" name="utente" nillable="true" type="q3:UtenteWeb" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditUtenteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditUtenteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListaUtentes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListaUtentesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ServiceLayer" minOccurs="0" name="GetListaUtentesResult" nillable="true" type="q4:ArrayOfUtenteWeb" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetValuesbySNS">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sns" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetValuesbySNSResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ServiceLayer" minOccurs="0" name="GetValuesbySNSResult" nillable="true" type="q5:ArrayOfValoresWeb" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddValues">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sns" type="xs:int" />
        <xs:element minOccurs="0" name="bloodPressureMin" type="xs:int" />
        <xs:element minOccurs="0" name="bloodPressureMax" type="xs:int" />
        <xs:element minOccurs="0" name="heartRate" type="xs:int" />
        <xs:element minOccurs="0" name="oxygenSatu" type="xs:int" />
        <xs:element minOccurs="0" name="data" type="xs:dateTime" />
        <xs:element minOccurs="0" name="tempoTotal" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddValuesResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetValuesAlertsbySns">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sns" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetValuesAlertsbySnsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ServiceLayer" minOccurs="0" name="GetValuesAlertsbySnsResult" nillable="true" type="q6:ArrayOfAlertasWeb" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAlertNotRead">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sns" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAlertNotReadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/ServiceLayer" minOccurs="0" name="GetAlertNotReadResult" nillable="true" type="q7:ArrayOfValoresWeb" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>