WindowsFormsApplication1/WindowsFormsApplication2/Service References/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:4115/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:4115/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:4115/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ServiceLayer" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_GetUtenteBySNS_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUtenteBySNS" />
  </wsdl:message>
  <wsdl:message name="IService1_GetUtenteBySNS_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUtenteBySNSResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddUtente_InputMessage">
    <wsdl:part name="parameters" element="tns:AddUtente" />
  </wsdl:message>
  <wsdl:message name="IService1_AddUtente_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddUtenteResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_EditUtente_InputMessage">
    <wsdl:part name="parameters" element="tns:EditUtente" />
  </wsdl:message>
  <wsdl:message name="IService1_EditUtente_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditUtenteResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetListaUtentes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetListaUtentes" />
  </wsdl:message>
  <wsdl:message name="IService1_GetListaUtentes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetListaUtentesResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetValuesbySNS_InputMessage">
    <wsdl:part name="parameters" element="tns:GetValuesbySNS" />
  </wsdl:message>
  <wsdl:message name="IService1_GetValuesbySNS_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetValuesbySNSResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddValues_InputMessage">
    <wsdl:part name="parameters" element="tns:AddValues" />
  </wsdl:message>
  <wsdl:message name="IService1_AddValues_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddValuesResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetRegistofGrahp_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRegistofGrahp" />
  </wsdl:message>
  <wsdl:message name="IService1_GetRegistofGrahp_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRegistofGrahpResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="GetUtenteBySNS">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetUtenteBySNS" message="tns:IService1_GetUtenteBySNS_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetUtenteBySNSResponse" message="tns:IService1_GetUtenteBySNS_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddUtente">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddUtente" message="tns:IService1_AddUtente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddUtenteResponse" message="tns:IService1_AddUtente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditUtente">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/EditUtente" message="tns:IService1_EditUtente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/EditUtenteResponse" message="tns:IService1_EditUtente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetListaUtentes">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetListaUtentes" message="tns:IService1_GetListaUtentes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetListaUtentesResponse" message="tns:IService1_GetListaUtentes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetValuesbySNS">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetValuesbySNS" message="tns:IService1_GetValuesbySNS_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetValuesbySNSResponse" message="tns:IService1_GetValuesbySNS_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddValues">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddValues" message="tns:IService1_AddValues_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddValuesResponse" message="tns:IService1_AddValues_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRegistofGrahp">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetRegistofGrahp" message="tns:IService1_GetRegistofGrahp_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetRegistofGrahpResponse" message="tns:IService1_GetRegistofGrahp_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetUtenteBySNS">
      <soap:operation soapAction="http://tempuri.org/IService1/GetUtenteBySNS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddUtente">
      <soap:operation soapAction="http://tempuri.org/IService1/AddUtente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditUtente">
      <soap:operation soapAction="http://tempuri.org/IService1/EditUtente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListaUtentes">
      <soap:operation soapAction="http://tempuri.org/IService1/GetListaUtentes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetValuesbySNS">
      <soap:operation soapAction="http://tempuri.org/IService1/GetValuesbySNS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddValues">
      <soap:operation soapAction="http://tempuri.org/IService1/AddValues" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRegistofGrahp">
      <soap:operation soapAction="http://tempuri.org/IService1/GetRegistofGrahp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:4115/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>