WindowsFormsApplication1/WindowsFormsApplication2/Service References/ServiceReference1/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ServiceLayer" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ServiceLayer" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="UtenteWeb">
    <xs:sequence>
      <xs:element minOccurs="0" name="address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="age" type="xs:int" />
      <xs:element minOccurs="0" name="alergies" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ative" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="bi" type="xs:int" />
      <xs:element minOccurs="0" name="birthdate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="gender" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="height" type="xs:int" />
      <xs:element minOccurs="0" name="mail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nexOfKinContact" type="xs:int" />
      <xs:element minOccurs="0" name="phone" type="xs:int" />
      <xs:element minOccurs="0" name="sns" type="xs:int" />
      <xs:element minOccurs="0" name="surname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="weight" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UtenteWeb" nillable="true" type="tns:UtenteWeb" />
  <xs:complexType name="ArrayOfUtenteWeb">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UtenteWeb" nillable="true" type="tns:UtenteWeb" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUtenteWeb" nillable="true" type="tns:ArrayOfUtenteWeb" />
  <xs:complexType name="ArrayOfValoresWeb">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ValoresWeb" nillable="true" type="tns:ValoresWeb" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfValoresWeb" nillable="true" type="tns:ArrayOfValoresWeb" />
  <xs:complexType name="ValoresWeb">
    <xs:sequence>
      <xs:element minOccurs="0" name="bloodPressureMax" type="xs:int" />
      <xs:element minOccurs="0" name="bloodPressureMin" type="xs:int" />
      <xs:element minOccurs="0" name="dataOfReposit" type="xs:dateTime" />
      <xs:element minOccurs="0" name="heartRate" type="xs:int" />
      <xs:element minOccurs="0" name="oxigenSat" type="xs:int" />
      <xs:element minOccurs="0" name="sns" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ValoresWeb" nillable="true" type="tns:ValoresWeb" />
  <xs:complexType name="ArrayOfAlertasWeb">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AlertasWeb" nillable="true" type="tns:AlertasWeb" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAlertasWeb" nillable="true" type="tns:ArrayOfAlertasWeb" />
  <xs:complexType name="AlertasWeb">
    <xs:sequence>
      <xs:element minOccurs="0" name="dataAlerta" type="xs:dateTime" />
      <xs:element minOccurs="0" name="read" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tipo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AlertasWeb" nillable="true" type="tns:AlertasWeb" />
</xs:schema>