WindowsFormsApplication1/WindowsFormsApplication2/Service References/ServiceReference1/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:4115/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ServiceLayer" />
  <xs:import schemaLocation="http://localhost:4115/Service1.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/ClassLibraryMedAc" />
  <xs:element name="GetUtenteBySNS">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sns" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUtenteBySNSResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ServiceLayer" minOccurs="0" name="GetUtenteBySNSResult" nillable="true" type="q1:UtenteWeb" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUtente">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ServiceLayer" minOccurs="0" name="utente" nillable="true" type="q2:UtenteWeb" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUtenteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EditUtente">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ServiceLayer" minOccurs="0" name="utente" nillable="true" type="q3:UtenteWeb" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditUtenteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditUtenteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListaUtentes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListaUtentesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ServiceLayer" minOccurs="0" name="GetListaUtentesResult" nillable="true" type="q4:ArrayOfUtenteWeb" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetValuesbySNS">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sns" type="xs:int" />
        <xs:element minOccurs="0" name="dataMax" type="xs:dateTime" />
        <xs:element minOccurs="0" name="dataMin" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetValuesbySNSResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ServiceLayer" minOccurs="0" name="GetValuesbySNSResult" nillable="true" type="q5:ArrayOfValoresWeb" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddValues">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sns" type="xs:int" />
        <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="value" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="data" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddValuesResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReportsHRbySNS">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sns" type="xs:int" />
        <xs:element minOccurs="0" name="startDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReportsHRbySNSResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ClassLibraryMedAc" minOccurs="0" name="GetReportsHRbySNSResult" nillable="true" type="q6:ArrayOfEstatisticasWeb" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUtentesNotRead">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUtentesNotReadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/ServiceLayer" minOccurs="0" name="GetUtentesNotReadResult" nillable="true" type="q7:ArrayOfUtenteWeb" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRegistofGrahp">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sns" type="xs:int" />
        <xs:element minOccurs="0" name="dataMax" type="xs:dateTime" />
        <xs:element minOccurs="0" name="dataMin" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRegistofGrahpResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/ServiceLayer" minOccurs="0" name="GetRegistofGrahpResult" nillable="true" type="q8:ArrayOfValoresWeb" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAlertsNotRead">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sns" type="xs:int" />
        <xs:element minOccurs="0" name="startBegin" type="xs:dateTime" />
        <xs:element minOccurs="0" name="startEnd" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAlertsNotReadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/ServiceLayer" minOccurs="0" name="GetAlertsNotReadResult" nillable="true" type="q9:ArrayOfAlertasWeb" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAlertsNotReadDate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="startBegin" type="xs:dateTime" />
        <xs:element minOccurs="0" name="startEnd" type="xs:dateTime" />
        <xs:element minOccurs="0" name="sns" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAlertsNotReadDateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/ServiceLayer" minOccurs="0" name="GetAlertsNotReadDateResult" nillable="true" type="q10:ArrayOfAlertasWeb" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="marcarComoLido">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/ServiceLayer" minOccurs="0" name="alerta" nillable="true" type="q11:AlertasWeb" />
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="marcarComoLidoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetValuesAlerts">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sns" type="xs:int" />
        <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tipo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="data" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetValuesAlertsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/ServiceLayer" minOccurs="0" name="GetValuesAlertsResult" nillable="true" type="q12:ArrayOfValoresWeb" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>